[Unit]
Description=P2P Wi-Fi Direct - Start Connection
# Wait until networj device ready
After=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/video-node
ExecStart=/usr/local/bin/p2p-init.sh
ExecStop=/bin/sh -c 'wpa_cli -i $P2P_IFACE terminate 2>/dev/null; ip addr flush dev $P2P_IFACE 2>/dev/null; true'
TimeoutStartSec=60
Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=p2p-init

[Install]
WantedBy=multi-user.target
